body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: ;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('image.jpg');
    background-size: cover;
}

h1 {
    font-size: 2rem;
    color: rgb(92, 12, 16);
    text-align: center;
text-transform: uppercase;
font-family: 'roboto' , sans-serif;

}

input {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: none;
}